.forum-page {
  padding: 30px;
  background: #fff4e5;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

.back-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: #3A643B;
  font-weight: bold;
  margin-bottom: 1.5rem;
  transition: color 0.2s;

  &:hover {
    color: #2d4f2b;
  }

  .arrow-icon {
    font-size: 1.2rem;
    transition: transform 0.2s;
  }

  &:hover .arrow-icon {
    transform: translateX(-3px);
  }
}


.forum-container {
  display: flex;
  gap: 40px;
  margin-top: 40px;
  align-items: center;

  @media (max-width: 992px) {
    gap: 25px;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    text-align: center;
  }
}


.image-box {
  flex: 1;
  background: #fde6c7;
  padding: 30px;
  border-radius: 20px;
  text-align: center;

  img {
    width: 100%;
    max-width: 300px;
  }

  @media (max-width: 768px) {
    padding: 20px;

    img {
      max-width: 230px;
    }
  }
}


.content-box {
  flex: 1.3;

  h1 {
    font-size: 26px;
    font-weight: 700;

    @media (max-width: 768px) {
      font-size: 22px;
    }
  }

  span {
    font-size: 16px;
    font-weight: 500;
  }
}


.desc {
  margin: 15px 0;
  line-height: 1.7;
  color: #444;
  font-size: 15px;

  @media (max-width: 768px) {
    font-size: 14px;
  }
}


.benefits {
  list-style: none;
  padding: 0;

  li {
    margin-bottom: 10px;
    font-size: 15px;
  }
}


.prakriti {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;

  @media (max-width: 768px) {
    gap: 15px;
  }

  @media (max-width: 480px) {
    flex-wrap: wrap;
    gap: 10px;
  }
}


.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff4e5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  padding: 10px;

  img {
    width: 72px;
    height: 72px;
    margin-bottom: 5px;
    object-fit: cover;
  }

  span {
    font-weight: 700;
  }

  small {
    font-size: 12px;
    text-transform: capitalize;
  }


  @media (max-width: 768px) {
    width: 80px;
    height: 80px;

    img {
      width: 48px;
      height: 48px;
    }

    small {
      font-size: 11px;
    }
  }


  @media (max-width: 480px) {
    width: 70px;
    height: 70px;

    img {
      width: 38px;
      height: 38px;
    }

    span {
      font-size: 11px;
    }

    small {
      font-size: 10px;
    }
  }
}