
$font-family: sans-serif;
$body-bg: #fff;
$text-color: #000;
$footer-bg: #f8f8f8;
$footer-color: #666;
$loader-color: #4caf50;
$loader-size: 50px;
$loader-border: 5px;


html, body {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  background-color: $body-bg;
  color: $text-color;
  overflow-x: hidden;
}

footer {
  background-color: $footer-bg;
  text-align: center;
  padding: 1.5rem;
  font-size: 0.9rem;
  color: $footer-color;
}


.loading-spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  font-size: 1.2rem;
  color: $loader-color;

  .loader {
    border: $loader-border solid #f3f3f3;
    border-top: $loader-border solid $loader-color;
    border-radius: 50%;
    width: $loader-size;
    height: $loader-size;
    animation: spin 1s linear infinite;
    margin-bottom: 10px;
  }
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


